* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden !important;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
  background: #fff;
  /* border: 1px solid red; */
}

.navbarCollapsed {
  overflow-y: hidden !important;
  background: #f3f6fb;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border-bottom: solid 1px #dfe2e7;
  zoom: 1;
  line-height: 20px;
  position: relative;
  z-index: 4;
}

.sidebar {
  border-right: solid 1px #dfe2e7 !important;
  padding: 30px;
  font-size: 13px;
  font-family: 'montserrat', sans-serif;
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  max-height: 150vh !important;
}

.active {
  background: rgb(101, 101, 241) !important;
  color: white !important;
  border-radius: 5px;
  margin-bottom: 5px;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #9090AA;
  border-radius: 4px;
}


.TextMenu {
  margin-left: 214px !important;
}

.fontPE {
  font-size: 10px;
}

.TextMenu {
  font-size: 12px !important;
  font-family: Verdana, sans-serif !important;
  color: #505050 !important;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .TextMenu {
    margin-left: 0 !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .p-5 {
    padding: 2px !important;
  }
}